*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    -webkit-font-smoothing: antialiased;
    background: #eeeeee;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 10px 10px;
    box-shadow: 0px 15px 15px #00000033;
}

.fl-table {
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 0.1px solid grey;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
}

.fl-table thead th {
    color: #ffffff;
    background: #c0392b;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #c0392b;
}

.fl-table tr:nth-child(even) {
    background: #e0dfdf;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 14px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 14px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
.judul {
    margin-top: 10px;
    width: 100%;
    background: #e74c3c;
    border: 0.5px solid #e74c3c;
    color: #ffffff;
    border-radius: 3px;
    padding: 15px 10px 15px 10px;
}


.data-table {
    width: 100%;
    background: #ffffff;
    border: 0.5px solid #b6b2b2;
    border-radius: 3px;
    padding-left: 5px;  
}

.head-table {
    margin-top: 10px;
    width: 100%;
    background: #ffffff;
    border: 0.5px solid #b6b2b2;
    border-bottom: 0px;
    color: #252525;
    border-radius: 3px;
    padding: 15px 10px 15px 10px;
}

td a:link {
	text-decoration: none;
    display: inline-block;
    background-color: #db2727;
    color: #FFFFFF;
    padding: 10px 15px;
    transition: background .3s;
    border-radius: 4px;
}
td a:visited {
	color: #FFFFFF;
}
td a:hover {
	background-color: #6e2222;
}

.navigasi a:link {
	text-decoration: none;
    display: inline-block;
    background-color: #db2727;
    color: #FFFFFF;
    padding: 10px 15px;
    transition: background .3s;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.navigasi a:visited {
	color: #FFFFFF;
}
.navigasi a:hover {
	background-color: #6e2222;
}

.judul a {
    text-decoration: none;
    color: #FFFFFF;
}

.tombol {
    display: inline-block;
    background-color: #db2727;
    color: #FFFFFF;
    padding: 10px 15px;
    transition: background .3s;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.tombol:visited {
	color: #FFFFFF;
}

.tombol:hover {
	background-color: #6e2222;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

div .CssTambah {
    width: 30%;
    background-color: #16e48e;
    color: #FFFFFF;
    padding: 10px 15px 10px 10px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
}

div .CssHapus {
    width: 30%;
    background-color: #e03e3e;
    color: #FFFFFF;
    padding: 10px 15px 10px 10px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
}

div .CssUpdate {
    width: 30%;
    background-color: #16e48e;
    color: #FFFFFF;
    padding: 10px 15px 10px 10px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
}